<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Capítulo Guardiões da Serra do Roncador nº 641</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-growl-v2/build/angular-growl.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/select2/select2.css" />
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/select2-bootstrap-css/select2-bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="demolayAbApp" ng-controller="AppcontrollerCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div growl></div>
    <div class="row">
      <div class="col-sm-12 header-opaco text-left">
        <div class="col-sm-12">
          <div class="logo text-center">
            <img class="img-logo" src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1098326_623025714409510_214181469_n.jpg?oh=149de12cf2a07a8ea60b2262d27185bf&oe=56839450" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>


          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <a class="navbar-brand" href="#/mainAdmin" ng-if="showMenu">{{usuarioLogado.nome}}</a>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Principal</a></li>
              <li><a ng-href="#/about">História</a></li>
              <li><a ng-href="#/">Diretoria</a></li>
              <li><a ng-href="#/">Fotos</a></li>
              <li><a ng-href="#/">Calendário</a></li>
              <li ng-if="showMenu === false"><a ng-href="#/mainAdmin">Restrito</a></li>
              <li ng-if="showMenu === true"><a ng-href="#/mainAdmin">Meu perfil</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-if="showMenu">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user"></i><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li ng-if="usuarioLogado.nivel === 1"><a href="#/cadUsuario">Manutenção de Usuários <i class="fa fa-users"></i></a></li>
                  <li role="separator" class="divider"></li>
                  <li><a ng-click="logout()">Sair <i class="fa fa-sign-out"></i></a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
    <div ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <div fb-page="https://www.facebook.com/Capitulo641" fb-faces="true" fb-posts="false" fb-hide="true"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <p>Made with <span class="glyphicon glyphicon-heart"></span> by ngTeam</p>
          </div>
        </div>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    <script>
      (function(d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) return;
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.3";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-base64-upload/src/angular-base64-upload.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-growl-v2/build/angular-growl.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/select2/select2.js"></script>
    <script src="bower_components/angular-select2/dist/angular-select2.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="bower_components/angular-slick/dist/slick.js"></script>
    <script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/directives/fbpage.js"></script>
        <script src="scripts/services/authservice.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/mainadmin.js"></script>
        <script src="scripts/services/modelsevice.js"></script>
        <script src="scripts/controllers/appcontroller.js"></script>
        <script src="scripts/controllers/cadusuario.js"></script>
        <script src="scripts/services/imageservice.js"></script>
        <script src="scripts/services/modalservice.js"></script>
        <script src="scripts/services/usuarioservice.js"></script>
        <script src="scripts/directives/formatdate.js"></script>
        <script src="scripts/services/uploadservice.js"></script>
        <script src="scripts/directives/filemodel.js"></script>
        <!-- endbuild -->
</body>
</html>
